body{
    margin: 0px;
    background: rgb(235, 225, 225);
}

*{
    box-sizing: border-box;
}

.container{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    margin: 10px auto;
    background: white;
    padding: 8px 20px;
}

.unit{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin: 10px auto;
}

.pod_unit{
    background: rgb(206, 206, 206);
}

.img_in_unit > img{
    padding: 4px;
    padding-bottom: 0px;
    object-fit: cover;
    display: block;
    height: 250px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.pod_unit > p{
    text-align: center;
}

.pod_unit > h3{
    text-align: center;
}

.pod_unit > p:nth-child(3){
    color: rgb(101, 54, 37);
}

.button {
    margin: 0 auto;
    display: block;
    width: 60%;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.button:hover {
    background-color: #181b1a;
    box-shadow: 0px 15px 20px rgba(24, 25, 24, 0.4);
    color: #fff;
    transform: translateY(-7px);
}
.wrap {
    padding-top: 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr ;
  }